:root{
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --font-size: 18px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'Outfit', sans-serif;
  background-color: var(--very-dark-blue-main);
}
body{
  color: var(--white);
  font-size: 1.8rem;
  background-color: var(--very-dark-blue-main);
}
.content{
  width: 100%;
  height: 100vh;
  background-color: var(--very-dark-blue-main);
  display: grid;
  place-content: center;
}
.card{
  width: 290px;
  height: 540px;
  background-color: var(--very-dark-blue-card);
  border-radius: 15px;
  padding: 20px;
}
.card__figure{
  width: 100%;
  height: 280px;
  background-color: aliceblue;
  position: relative;
}
.card__figure .figure{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.img__figure-icon{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(178, 100%, 50%, 50%);
  z-index: 999;
  opacity: 0;
  border-radius: 10px;
}
.img__figure-icon:hover{
  opacity: 1;
  cursor: pointer;
  transition: 0.25s linear;
}
.icon__view{
  position: absolute;
  width: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.card__info{
  margin: 2rem 0;
  border-bottom: 1px solid var(--very-dark-blue-line);
  padding-bottom: 2rem;
}
.card__info-title{
  font-size: 1.2rem;
}
.card__info-title:hover, .card__avatar-name p:hover{
  color: var(--cyan);
  cursor: pointer;
}
.card__info-description{
  color: var(--soft-blue);
  font-size: 1.4rem;
  margin: 1.5rem 0;
  line-height: 2.4rem;
}
.card__info-properties{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.properties__value{
  color: var(--cyan);
  font-weight: bold;
}
.properties__value p, .properties__date p{
  display: flex;
  align-items: center;
}
.properties__value p > span{
  content: url("../images/icon-ethereum.svg");
  margin-right: .5rem;
}
.properties__date{
  color: var(--soft-blue);
}
.properties__date p > span{
  content: url("../images/icon-clock.svg");
  margin-right: .5rem;
}
.card__avatar{
  display: flex;
  align-items: center;
}
.card__avatar-photo{
  display: flex;
  align-items: center;
}
.card__avatar-photo img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--white);
  object-fit: cover;
  margin-right: 1.5rem;
}
.card__avatar-name{
  font-size: 1.5rem;
}
.card__avatar-name p > span{
  color: var(--soft-blue);
}
@media(min-width:480px){
  .content{
    height: 100%;
  }  
  .card{
    margin: 4rem 0;
    width: 320px;
  }
}